.sign-up-root {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.Sign-up-form {
    /* margin-left: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 30px; */
    border-color: rgb(180, 177, 177);
    border-style: ridge;
    /* box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.75); */
    margin-right: 150px;
    margin-top: 50px;
   background-color: #f4f4f4;
   border-radius: 10px;
}

.formed-class {
    /* padding: 5px; */
    /* padding: 5px; */
    min-width: 70px;
    margin: 0 auto;
}

.input-ico-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
}

.icons {
    color: black !important;
}

.signbut {
    color: rgb(43, 180, 43);
}

.left{
    max-width: 600px;
    margin-top: 100px;
    margin-left: 60px;
}

@media (max-width: 800px) {
   .left{
    display: none;
   }
   .Sign-up-form {
       margin-left: 70%;
       margin-right: 4%;
       padding: 20px;
   }
  }


@media (max-width: 1200px) {
   .left{
    margin-right: 20px;

   }
   .Sign-up-form {
       margin-left: 65px;
       margin-right: 4px;
       padding: 20px;
   }
  }
